<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>

        <div id="tokenSection">
            <form id="loginForm" method="post">
                <label for="clientId">Client ID</label>
                <input type="text" id="clientId" name="clientId">
                <label for="clientSecret">Client Secret</label>
                <input type="text" id="clientSecret" name="clientSecret">
                <input type="submit" value="Request Authorization" formaction="/get-auth">
            </form>
            <% if (locals.error) {%>
                <div id="error">
                    <%= error %>, try again.
                </div>
                <% } %>
        </div>
    </main>
</body>

</html>