body {
  background-color: #c8e4b2;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.5rem;
}

#tokenSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 100%;
}

#loginForm {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 4rem;
  background-color: #fff;
}

input {
  margin: 0.5rem;
  padding: 0.25rem;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error {
  text-align: center;
  background-color: #c51605;
  color: #fff;
  padding: 0.625rem;
  border-radius: 2rem;
  border: 1px solid black;
}
