body {
  margin: 0;
  padding: 0;
  background-color: #c8e4b2;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myForm {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#startQuiz {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 4rem;
}

input {
  margin: 0.5rem;
  padding: 0.25rem;
}

#quiz {
  width: 80%;

  display: grid;
  justify-items: center;
}

.question {
  background-color: #f6f4eb;
  border-radius: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-content: center;
  border: 1px solid black;
  padding: 2rem;
  margin-top: 2rem;
  height: 50%;
}

.answers {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 0.5rem;
  justify-items: center;
  height: 100%;
}

.answer {
  width: 25rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.answer-hover:hover {
  background-color: #9e9fa5;
}

audio {
  height: 50%;
  min-width: 60%;
}

@media (max-width: 1000px) {
  .answers {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

#login-page {
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#a-login-page {
  color: #fff;
  font-size: 4rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 2rem;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 0px 0px 1.25rem 1.25rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  text-align: right;
  padding-right: 0.25rem;
}

#a-modal {
  color: black;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 2rem;
}

#score {
  text-align: center;
  padding-right: 1.25rem;
  display: flex;
  justify-content: center;
}

#p-form {
  font-size: 1.5rem;
  text-align: center;
}
